
<div class="grid">
    <div class="text-center tdown" (click)="prev()">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      </div>
      <div class="">
        <p class="text-center">{{CurrentVideo.filename}}</p>
          <video controls autoplay style="width:100%">
            <source src="http://i.4cdn.org/gif/{{CurrentVideo.tim}}.webm" type="video/webm">
          </video>
      </div>
      <div class="text-center tup" (click)="next()">

        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      </div>
</div>
