
<div class="grid">
    <div class="text-center tdown">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
      </div>
      <div class="">
        <p class="text-center">Ost</p>
          <video controls autoplay style="width:100%">
            <source src="http://i.4cdn.org/wsg/1505620659884.webm" type="video/webm">
          </video>
      </div>
      <div class="text-center tup">
        
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
      </div>
</div>
