<!--The content below is only a placeholder and can be replaced.-->
<head>
  <link href="https://fonts.googleapis.com/css?family=Asap+Condensed" rel="stylesheet">
</head>

<app-header></app-header>
<h2 class="text-center">
  <select [(ngModel)]="boardService.Board" (change)="chanService.getstuff()" onchange="chanService.getstuff()" >
    <option value="b">B</option>
    <option value="wsg">WSG</option>
    <option value="gif">GIF</option> 
  </select>
</h2>


<div class="container-fluid">
    <router-outlet *ngIf="ready"></router-outlet>
</div>
